.plain-css {
  color: #222;
}

.hero-blade {
  color: purple;
}

.pagination {
  margin: 10px;
}

select {
  appearance: none;
}

.duplicate-selector {
  color: yellow;
}

.duplicate-selector {
  background: yellow;
}
